<% provide(:title, 'Home') %>

<section class="header-11-sub bg-midnight-blue">
  <div class="background">
    &nbsp;
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>The Pain-Free Way to Get Your Course</h3>
        <p>
          CourseWatch constantly checks to see if the courses you want are available. You get notified immediately without having to do any of the work.
        </p>

        <div class="signup-form">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">  
              <%= f.text_field :name, id: "inputName", 
                             placeholder: "Your Name", 
                                   class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :email, id: "inputEmail", 
                              placeholder: "Your Email", 
                                    class: "form-control" %>
            </div>

            <div class="form-group form-group-password">
              <div>
                <%= f.password_field :password, id: "inputPassword", 
                                       placeholder: "Password",
                                             class: "form-control" %>
              </div>
              <div>
                <%= f.password_field :password_confirmation, 
                                   id: "inputConfirmation", 
                          placeholder: "Confirmation", 
                                class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-block btn-info",
                                     value: "Sign Up" %>
            </div>

          <% end %>
        </div>

        <% unless signed_in? %>
          <p>Already a member? <%= link_to "Sign in", signin_path %>.</p>
        <% end %>
      </div>

      <div class="col-sm-7 col-sm-offset-1 player-wrapper">
        <div class="player">
         
        </div>
      </div>
    </div>
  </div>
</section>


