<% provide(:title, 'Sign in') %>

<div class="well bs-component">
  <%= form_for(:session, url: sessions_path, class: "form-horizontal") do |f| %>
  <fieldset>
    <legend>Sign in</legend>

    <div class="form-group">
      <%= f.label :email, class: "col-lg-2 control-label" %> 
      <div class="col-lg-10 account-field">
        <%= f.text_field :email, id: "inputEmail", class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :password, class: "col-lg-2 control-label" %> 
      <div class="col-lg-10 account-field">
        <%= f.password_field :password, id: "inputPassword", class: "form-control" %>
      </div>
    </div>

      <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>

  </fieldset>
  <% end %>

  
</div>

<p>Not yet a member? <%= link_to "Register", new_user_path %>.</p>

