<% provide(:title, 'Sign in') %>

<div class="container" id="container-login">
  <div class="login">
    <div class="login-screen">
      <div class="login-icon">
        <%= image_tag('pencils.png', alt: 'Login Icon') %>
        <h4>Welcome to <small>CourseWatch</small></h4>
      </div>
      
      <div class="login-form">
        <%= form_for(:session, url: sessions_path) do |f| %>
          <div class="form-group">
            <%= f.text_field :email, id: "inputEmail", class: "form-control login-field", placeholder: "Email" %>
            <label class="login-field-icon fui-mail" for="inputEmail"></label>
          </div>

          <div class="form-group">
            <%= f.password_field :password, id: "inputPassword", class: "form-control login-field", placeholder: "Password" %>
            <label class="login-field-icon fui-lock" for="inputPassword"></label>
          </div>

          <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
          <%= link_to "New member? Register here", new_user_path, class: "login-link" %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>
