<% provide(:title, "Edit") %>

<div class="container">
  <h1>Edit Your Account</h1>
  <div class="well bs-component">
    <%= form_for(@user, class: "form-horizontal") do |f| %>
    <fieldset>
      <legend>Update Profile</legend>
      <div class="form-group">
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :email, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :email, id: "inputEmail", class: "form-control", placeholder: "New Email" %>
        </div>

        <%= f.label :password, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "New Password" %>
        </div>

        <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.password_field :password_confirmation, id: "inputConfirmation", class: "form-control", placeholder: "Confirmation" %>
        </div>

        <%= f.submit "Save changes", class: "btn btn-primary btn-lg" %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
