<% provide(:title, "Edit") %>

<div class="container" id="container-login">
  <h1>Edit Your Account</h1>
  <div class="login-form general-form">
    <%= form_for(@user) do |f| %>
      <legend>Update Profile</legend>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.text_field :email, id: "inputEmail", class: "form-control login-field", placeholder: "New Email" %>
        <label class="login-field-icon fui-mail" for="inputEmail"></label>
      </div>
      
      <div class="form-group">
        <%= f.password_field :password, id: "inputPassword", 
        class: "form-control login-field", placeholder: "New Password" %>
        <label class="login-field-icon fui-lock" for="inputPassword"></label>
      </div>
      
      <div class="form-group">
        <%= f.password_field :password_confirmation, id: "inputConfirmation", class: "form-control login-field", placeholder: "Confirmation" %>
        <label class="login-field-icon fui-lock" for="inputConfirmation"></label>
      </div>
      <%= f.submit "Save changes", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
