<% provide(:title, 'Sign Up') %>

<h1>Create a free acount</h1>

<div class="well bs-component">
  <%= form_for(@user, class: "form-horizontal") do |f| %>
  <fieldset>
    <legend>Sign up</legend>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">  
      <%= f.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-10 account-field">
        <%= f.text_field :name, id: "inputName", class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :email, class: "col-lg-2 control-label" %>
      <div class="col-lg-10 account-field">
        <%= f.text_field :email, id: "inputEmail", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-lg-2 control-label" %>
      <div class="col-lg-10 account-field">
        <%= f.password_field :password, id: "inputPassword", class: "form-control" %>
      </div>
    </div> 
  
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation", 
                  class: "col-lg-2 control-label" %>
      <div class="col-lg-10 account-field">
        <%= f.password_field :password_confirmation, id: "inputConfirmation", class: "form-control" %>
      </div>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary"%>
  </fieldset>
  <% end %>
</div>

<p>Already a member? <%= link_to "Sign in", signin_path %>.</p>
