<% provide(:title, 'Sign Up') %>

<div class="container" id="container-login">
  <h1>Create a free acount</h1>
  <div class="login-form general-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">  
        <%= f.text_field :name, id: "inputName", class: "form-control login-field",
        placeholder: "Name"%>
        <label class="login-field-icon fui-user" for="inputName"></label>
      </div>
    
      <div class="form-group">
        <%= f.text_field :email, id: "inputEmail", class: "form-control login-field",
        placeholder: "Email" %>
        <label class="login-field-icon fui-mail" for="inputEmail"></label>
      </div>

      <div class="form-group">
        <%= f.password_field :password, id: "inputPassword", class: "form-control login-field",
        placeholder: "Password" %>
        <label class="login-field-icon fui-lock" for="inputPassword"></label>
      </div> 
    
      <div class="form-group">
        <%= f.password_field :password_confirmation, id: "inputConfirmation", 
        class: "form-control login-field", placeholder: "Confirm Password" %>
        <label class="login-field-icon fui-lock" for="inputConfirmation"></label>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary"%>
    <% end %>
  </div>
  <p>Already a member? <%= link_to "Sign in", signin_path %>.</p>
</div>
