<div class="login-form general-form">
  <%= form_tag course_selections_path do %>
    <%= render 'shared/error_messages', object: @course %>
    
    <div class="form-group">
      <%= text_field_tag :course_subject, params[:course_subject], 
      id: "inputSubject", class: "form-control login-field", placeholder: "Course (e.g. COSC)" %>
      <label class="login-field-icon fui-book" for="inputName"></label>
    </div>

    <div class="form-group">
      <%= text_field_tag :course_number, params[:course_number], 
      id: "inputNumber", class: "form-control login-field", placeholder: "Course Number (e.g. 50)" %>
      <label class="login-field-icon fui-search" for="inputNumber"></label>
    </div>

    <%= submit_tag "Add course", class: "btn btn-success" %>
  <% end %>
</div>
