<div class="col-lg-12">
  <div class="page-header">
    <h1 id="tables">Sections / Labs</h1>
  </div>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Course</th>
      <th>Section</th>
      <th>Availability</th>
      <th>Instructor</th>
      <th>Period</th>
      <th>Limit</th>
      <th>Enrollment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @course_set.each do |course| %>
      <tr class="info">
        <td><%= course.subject %> <%= course.number %></td>
        <td><%= course.section %></td>
        <% if course.available? %>
          <td class="text-success" id="availability">Available</td>
        <% else %>
          <td class="text-danger" id="availability">Not available</td>
        <% end %>
        <td><%= course.instructor %></td>
        <td><%= course.period %></td>
        <td><%= course.limit %></td>
        <td><%= course.enrollment %></td>
        <td>
          <%= form_tag course_selections_path do %>
            <div>
              <%= hidden_field_tag 'course_subject', @input_subject %>
              <%= hidden_field_tag 'course_number', @input_number %>
              <%= hidden_field_tag 'course_section', course.section %>
            </div>
            <%= submit_tag "Select", class: "btn btn-primary btn-xs" %>
          <% end %>
        </td>
      </tr>    
    <% end %>
  </tbody>
</table>