<% provide(:title, "New Course") %>

<h1>Start watching courses</h1>

<%= form_tag course_selections_path, class: "form-horizontal" do %>
  <fieldset>
    <legend>Choose a course</legend>
    <div class="form-group">

      <%= render 'shared/error_messages', object: @course_selection_or_course %>
      
     <%= label_tag :course_subject, "Course Subject", 
                    class: "col-lg-2 control-label" %> 
      <div class="col-lg-10">
        <%= text_field_tag :course_subject, params[:course_subject], 
        id: "inputSubject", class: "form-control", placeholder: "e.g. COSC" %>
      </div>

     <%= label_tag :course_number, "Course Number", 
                    class: "col-lg-2 control-label" %> 
      <div class="col-lg-10">
        <%= text_field_tag :course_number, params[:course_number], 
        id: "inputNumber", class: "form-control", placeholder: "e.g. 50" %>
      </div>
      
      <%= submit_tag "Add course", class: "btn btn-success" %>
    </div>
  </fieldset>
<% end %>

<%= link_to "Back to profile", user_path(current_user), class: "btn btn-default" %>

