<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <%= render 'layouts/shim' %>
</head>

<body>
  <div class="page-wrapper">
    <%= render 'layouts/header' %>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-dismissable alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  
    <%= render 'layouts/footer' %>
  </div>
</body>
  
  <%= debug(params) if Rails.env.development? %>

</html>
